@import '../../themes/mixins/buttons';
@import './sidebarConfig';

.component {
  @include button;
  align-items: center;
  background-color: var(--theme-sidebar-background-color);
  color: var(--theme-sidebar-category-text-color);
  display: flex;
  height: $sidebar-button-height;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  &:hover {
    background-color: var(--theme-sidebar-category-background-color-hover);
  }
}

.active {
  background-color: var(--theme-sidebar-category-background-color-active);

  &:hover {
    background-color: var(--theme-sidebar-category-background-color-active);
    cursor: default;
  }
}

.icon {
  margin: 30px;
  & > svg {
    width: 24px;
    height: 24px;

    & > g > path {
      fill: var(--theme-icon-sidebar-color);
    }
    // ada.svg icon need stroke attribute
    & > g > g {
      stroke: var(--theme-icon-sidebar-color);
    }
  }
}

.isPlugin {
  .icon {
    flex: 1;
    background: {
      size: contain;
      repeat: no-repeat;
      position: auto;
    }
  } 
}


.label {
  font-family: var(--font-regular);
  font-size: 18px;
}
